body {
    background: #CAE0EB;
}
.menu {
    display: flex;
    justify-content: end;
}

.nav-item {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 35px;
}

.nav-item a {
    color: black;
}

.btn {
    margin-top: 5px;
    line-height: 35px;
}
.left h1{
    font-size: 45px;
    margin-top: 40px;    
}
.content{
    margin-top: 40px;
}
.text-content{
    background: #ffff;
    width: 280px;
    color: lightskyblue;
    font-size: 20px;
}
.text-writing{
    width: 450px;
}
.ava{
    margin-top: 50px;
    border-radius: 8px;
    width: 635px;
    height: auto;
}
.number-text{
    margin-top: 50px;
    margin-left: -400px;
}
.top,.mid,.bottom{
    margin-top: 50px;
}
.top h1, .mid h1, .bottom h1{
    color: rgb(51, 114, 233);
    text-align: center;
}
.top p, .mid p, .bottom p{
    text-align: center;
}
.content-2{
    margin-top: 50px;
    text-align: center;
}
.text1 {
    font-size: 50px;
    font-weight: bold;
}
.text2 {
    margin-top: 30px;
    margin-left: 150px;
    width: 70%;
    font-size: 20px;
}
.card{
    border-radius: 20px;
    width: 400px;
    height: 500px;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
    margin-left: 25px;
}
.card-img-top{
    border-radius: 15px;
    width: 380px;
    height: auto;
    margin: 5px auto;
}
.text3{
    text-align: center;
    line-height: 37.5px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    width: 250px;
    background: #CAE0EB;
}
.text4{
    font-size: 25px;
    font-weight: bold;
    color: rgb(67, 78, 233);
}

